<!DOCTYPYE html>
<html>
	<head>
		<title>Create New Transaction</title>
	</head>
	<body>

	<form action="{{ url_for('create_tran') }}" method="get">
	<p>Credit Account(s) Type:</p>
 	<input type="radio" name="cred" value="ASSET"> Asset<br>
 	<input type="radio" name="cred" value="LIABILITY"> Liability<br>
 	<input type="radio" name="cred" value="EQUITY"> Equity<br>
 	<input type="radio" name="cred" value="INCOME"> Income<br> 
 	<input type="radio" name="cred" value="EXPENSE"> Expense<br>   

	<p>Debit Account(s) Type:</p>
 	<input type="radio" name="deb" value="ASSET"> Asset<br>
 	<input type="radio" name="deb" value="LIABILITY"> Liability<br>
 	<input type="radio" name="deb" value="EQUITY"> Equity<br>
 	<input type="radio" name="deb" value="INCOME"> Income<br> 
 	<input type="radio" name="deb" value="EXPENSE"> Expense<br>  

 	<br/>
	<center><input type="submit" value="Create Tran"></center>
	</form>

	</body>
</html>