<!DOCTYPE html>
<html>
<head>
	<style>
		table, th, td {
  		border: 1px solid black;
		}
	</style>
</head>
<body>

<h2>Create New Transaction</h2>

<table style="width:500px;border: 1px solid black">
  <tr>
    <th>Name</th>
    <th>Amt+</th> 
    <th>Amt-</th>
  </tr>
  	 <!-- As many rows as the category (Credit or Debit) with the most entries. In
  	each row, four columns - Credit account name, Amount Credited, Debit Account name, 
  	Amount Debited. 
  	An example row may look like:
  	<tr>
  		<td>MARIE CALLENDERS PASTA AL DENTE RIGATONI MARINARA CLASSICO FRESH STEAMER</td>
  		<td>20.00</td>
  		<td></td>
  	</tr>
  	This would be a simple transaction where twenty dollars is exchanged for twenty dollars worth
  	of pasta -->
  	{{ Rows | safe }}
</table>
{{Total | safe}} <!-- This is the sum of all debits minus the sum of all credits. Will be
red if not equal to 0 -->
<form method="POST" action="select_acct">
  <input type="submit" name=cred-submit value=Cred-submit></button>
  <input type="submit" name=deb-submit value=Deb-submit ></button>

</form>
{{ButtonOrError | safe }}
</body>
</html>