<!DOCTYPYE html>
<html>
	<head>
		<title>Create New Transaction</title>
	</head>
	<body>

	<p>Credit Account(s) Type:</p>
 	<input type="radio" name="cred" value="ass"> Asset<br>
 	<input type="radio" name="cred" value="lia"> Liability<br>
 	<input type="radio" name="cred" value="equ"> Equity<br>
 	<input type="radio" name="cred" value="inc"> Income<br> 
 	<input type="radio" name="cred" value="exp"> Expense<br>   

	<p>Debit Account(s) Type:</p>
 	<input type="radio" name="deb" value="ass"> Asset<br>
 	<input type="radio" name="deb" value="lia"> Liability<br>
 	<input type="radio" name="deb" value="equ"> Equity<br>
 	<input type="radio" name="deb" value="inc"> Income<br> 
 	<input type="radio" name="deb" value="exp"> Expense<br>  

 	<br/>
	<center><form action="{{ url_for('create_tran') }}">
		<input type="submit" value="Create Tran"></center></form>

	</body>
</html>