<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1><center>LibreBooks</center></h1><br>
        <center>Are you a payer or an accountant?</center><br>
        <center><button onclick="window.location.href = '{{ url_for('payer_login') }}';">Payer Login</button></center><br>
        <center><button onclick="window.location.href = '{{ url_for('accountant_login') }}';">Accountant Login</button></center>
        <center>Don't have an account yet? Create one now!</center><br>
        <center><button onclick="window.location.href = '{{ url_for('create_accountant') }}';">Create Accountant Account</button></center><br>
    </body>
</html>
