<html>
    <head>
        <title> Login </title>
    </head>
    <body>       
        {% if step=="attempt" %}
            <h1> Librebooks Login </h1><br>
            <form action="{{ url_for('login') }}" method="post">
            Enter email<br>    
            Email: <input type= "text" name = "user"><br>            
            <input type="hidden" name="step" value="account_lookup">
            <input type="submit">
            </form>
        {% elif step == "not_user" %}
            <h1> Librebooks Login </h1><br>
            <font color="red">Incorrect email</font>
            <form action="{{ url_for('login') }}" method="post">
            Enter email<br>    
            Email: <input type= "text" name = "user"><br>            
            <input type="hidden" name="step" value="account_lookup">
            <input type="submit">
            </form>
        {% elif step == "user"%}
            <h1> Librebooks Login </h1><br>
            <font color="green">Account: {{user}}</font>
            <form action="{{ url_for('login') }}" method="post">
            Enter password<br>            
            Password: <input type= "text" name = "password"><br>
            <input type="hidden" name="step" value="test_pass">
            <input type="hidden" name="user" value={{user}}>
            <input type="submit">
            </form>
        {% elif step == "not_password"%}
            <h1> Librebooks Login </h1><br>
            <font color="red">Incorrect password</font><br>
            <font color="green">Account: {{user}}</font>
            <form action="{{ url_for('login') }}" method="post">
            Enter password<br>            
            Password: <input type= "text" name = "password"><br>
            <input type="hidden" name="step" value="test_pass">
            <input type="hidden" name="user" value={{user}}>
            <input type="submit">
            </form>
        {% elif step == "password" %}
            <h1>Welcome {{user}} </h1><br>
            <a href="{{url_for('portal') }}">portal</a>
        {%endif%}
    </body>
</html>