<html>
    <head>
        <title> Accountant Login </title>
    </head>
    <body>       
        {% if step=="attempt" %}
            <center><h1> Librebooks Payer Login </h1><br>
            <form action="{{ url_for('payer_login') }}" method="post">
            Enter email<br>    
            Email: <input type= "text" name = "user">
            <input type="hidden" name="step" value="account_lookup">
            <input type="submit"></center>
            </form>
        {% elif step == "not_user" %}
            <center><h1> Librebooks Payer Login </h1><br>
            <h3><font color="red">Invalid email</font></h3>
            <form action="{{ url_for('payer_login') }}" method="post">
            Enter email<br>    
            Email: <input type= "text" name = "user"><br>            
            <input type="hidden" name="step" value="account_lookup">
            <input type="submit"></center>
            </form>
        {% elif step == "user"%}
            <center><h1> Librebooks Payer Login </h1><br>
            <font color="green">Account: {{user}}</font>
            <form action="{{ url_for('payer_login') }}" method="post">
            Enter password<br>            
            Password: <input type= "text" name = "password"><br>
            <input type="hidden" name="step" value="test_pass">
            <input type="hidden" name="user" value={{user}}>
            <input type="submit"></center>
            </form>
        {% elif step == "not_password"%}
            <center><h1> Librebooks Payer Login </h1><br>
            <h3><font color="red">Incorrect password</font><br></h3>
            <font color="green">Account: {{user}}</font>
            <form action="{{ url_for('payer_login') }}" method="post">
            Enter password<br>            
            Password: <input type= "text" name = "password"><br>
            <input type="hidden" name="step" value="test_pass">
            <input type="hidden" name="user" value={{user}}>
            <input type="submit"></center>
            </form>
        {% elif step == "password" %}
            <h1>Welcome {{user}} </h1><br>
            <a href="{{url_for('portal') }}">home</a>
        {%endif%}
    </body>
</html>